<div class="slider">

    <div class="slider_track">
        <div class="slider_track__item">
            <img src="img/slider_item.webp" alt="slider_item1">
        </div>
        <div class="slider_track__item"></div>
        <div class="slider_track__item"></div>
        <div class="slider_track__item"></div>
    </div>


    <div class="slider__pointer prev"></div>
    <div class="slider__pointer next"></div>

    <div class="slider__dots">
        <div class="slider__dots__item --active"></div>
        <div class="slider__dots__item"></div>
        <div class="slider__dots__item"></div>
        <div class="slider__dots__item"></div>
    </div>
</div>