@import 'normalize.css/normalize';



//FONTS
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff);
    font-weight: 400;
    font-display: swap;      
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.woff);
    font-weight: 500; 
    font-display: swap;     
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.woff);
    font-weight: 700; 
    font-display: swap;
}

@font-face {
    font-family: Gosha Sans;
    src: url(../fonts/GoshaSans-Regular.woff);
}
// MIXINS
@mixin roboto {
    font-family: 'Roboto', 'sans-serif';
}
@mixin gosha {
    font-family: 'Gosha Sans';
}
@mixin arrowLeft {
    content: "";
    position: absolute;
    margin: auto;
    top:calc(50% - 5px);
    left: calc(50% - 3px);
    border: solid rgba(42, 61, 72, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@mixin arrowRight {
    content: "";
    position: absolute;
    margin: auto;
    top:calc(50% - 4px);
    left: calc(50% - 5px);
    border: solid rgba(42, 61, 72, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


// VARIABLES
$base-bg:#FFFFFF;
$color15:rgba(28, 41, 77, 0.15);
$color50: rgba(28, 41, 77, 0.5);
$color80:rgba(28, 41, 77, 0.8);
$color100:rgb(28, 41, 77);
$colorOrange:#FF7A00;

$f-regular:400;
$f-medium:500;
$f-bold:700;
*{
    box-sizing: border-box;
}
body{
    background: #E5E5E5;
    @include roboto();
    .button_icon{
        margin-right: 6px;
    }
    .icon{
        margin-right: 8px;
    }
}


.container{
    margin: 0 auto;
    max-width: 1140px;
    
}
h3{
    margin: 0;
    font-size: 20px;
}
.btn{
    height: 40px;
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.burger{
    margin-right: 7px;
    &__item{
        width: 13px;
        height: 1px;
        background: $color100;
        margin-bottom: 4px;
        &--sm{
            width: 9px;
            height: 1px;
            margin-bottom: 4px;
        }
    }
}
.bookCard{
    
    &__image{
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
        
    }
    &_info{
        &__section{
            color: $color50;
            font-size: 12px;
            margin: 0;
        }
        &__name{
            margin-top: 3px;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 10px;
        }
        &__author{
            font-size: 12px;
            
        }
        &__price{
            font-size: 18px;
            font-weight: 700;
            margin-top: 2px;
            margin-bottom: 13px;
        }
    }
   
    &__buttons{
        display: flex;
        button:nth-child(1){
            margin-right: 10px;
        }
        &__item{
            justify-content: center;
            color: $color100;
            width: 146px;
            font-family: 'Roboto';
            border-color: #EEEE;
            
        }
    }
   
    
   
    
}
.--orange{
    background: $colorOrange;
}
.--red{ color: #FF283D;}
// HEADER
header{
    width: 100%;
    font-size: 14px;
    font-weight: $f-regular;
    background: #FFFF;
    
    .header_top{
        border-bottom: 1px solid #DFE0E1;
        &_inner{
            display: flex;
            padding: 15px 0;
            padding-left: 2px;
        } 
    }
    .nav{
        &_list{
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            align-items: center;
            list-style: none;
            &__item{
                display: flex;
                position: relative;
                align-items: center;
                margin-right: 31px;
                color: red;
                &:last-child{
                    margin: 0;
                }
                
                &__link{
                    text-decoration: none;
                    color: $color80;
                }
            }
        }
    }
    .contacts{
        margin-left: auto;
        
        &_list{
            align-self: center;
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            &__item{
                display: flex;
                margin-right: 31px;
                color: red;
                align-items: center;
                &:last-child{
                    margin: 0;
                }

                
                &__link{
                    text-decoration: none;
                    color: $color80;
                    & + .icon{
                        margin: 0;
                        margin-left: 7px;
                    }
                }
            }
            
        }

    }   
    
    .header_main{
        padding: 20px 0 18px    ;
        display: flex;
        
        box-sizing: content-box;
        height: 40px;
        &__logo{
            margin-right: 30px;
        }
        &__search{
            height: 100%;
            position: relative;
            &__input{
                height: 100%;
                width: 573px;
                border: 1px solid #DFE0E1;
                border-radius: 5px;
                padding: 10px 0 10px 16px;
            }
            &__submit{
                position: absolute;
                right: 0;
                bottom: 0;
                border-radius: 0 5px 5px 0;
                height: 100%;
                padding: 0 25px;
            }
        }
        
        .nav{
            margin-left: auto;
            .nav_list__item__counter{
                position: absolute;
                width: 11px;
                height: 11px;
                box-sizing: content-box;
                color: #FFFFFF;
                font-size: 9px;
                font-weight: 500;
                padding: 2px;
                border-radius: 50%;
                left: 13px;
                bottom: 14px;
                
            }
        }
      
    }
    .header_nav{
        padding: 20px 0;
        .nav_list{
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            .nav_item{
                display: flex;
                
                margin-right: 25px;
                .icon{
                    margin-right: 8px;
                }
                
                   
                    
                
            }
        }
    }
    .header_bottom{
        padding: 0 0 20px;
        .nav{
            &_list__item{
                margin-right: 25px;
            }
        }
    }
    .--red{ color: #FF283D;}
}

main{
    .promo{
        display: flex;
        flex-wrap: wrap;
        padding: 28px 0;
        &_slider{
            position: relative;
            margin-bottom: 24px;
            &__item img{
                border-radius: 5px;
            }
            &__pointer{
                position: absolute;
                width: 40px;
                height: 40px;
                background:#fff;
                opacity: 50%;
                top: 155px;
                border-radius: 5px;
                left: 27px; 
                cursor: pointer;
                &:hover{
                    opacity: 100%;
                }           
            }
            .prev{
                &::after{
                    @include arrowLeft()
                }
                &:hover &::after{
                    border-color:rgba(42, 61, 72, 1) ;
                }
            }
            .next{
                right: 28px;
                left: auto;
                &::after{
                   @include arrowRight()
                }
                &:hover &::after{
                    border-color:rgba(42, 61, 72, 1) ;
                }
            }
            &__dots{
                position: absolute;
                bottom: 25px;
                display: flex;
                left: 50%;
                transform: translate(-50%);
                &__item{
                    width: 25px;
                    height: 2px;
                    margin-right: 5px;
                    background: rgba(255, 255, 255, 0.5);
                    &:last-child{margin: 0;}
                    
                }
                .--active{background: #ffff;}
            }
        }
        &_bookOfDay{
            width: 360px;
            margin-left: auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            &__top{
                display: flex;
                margin-bottom: 20px;
                h4{
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                }
                &__timer{
                    margin-left: auto; 
                    background:rgba(255, 122, 0, 0.15);
                    padding: 5px 10px;
                    font-size: 12px;
                    border-radius: 5px;
                    color: #FF7A00;
                    
                }
            }
            
        }
        &_promotions{
            display: flex;
            &__item{
                @include gosha();
                position: relative;
                display: flex;
                background: #fff;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                width: 360px;
                height: 140px;
                border-radius: 5px;
                padding: 0 25px;
                &:first-child {
                    .promo_promotions__item__line{
                        left: 13px;
                        top: 32px;
                    }
                    
                    
                }
                &:last-child{
                    margin-left: auto;
                    .promo_promotions__item__line{
                        left: 45px;
                        bottom: 26px;
                    }
                }
                &__text{
                    margin-right: auto; 
                    position: relative;
                    z-index: 2;
                }
                &__line{
                    position: absolute;
                    z-index: 1;
                    
                }
            }
        }
        
        }
    
    .new{
        background: #FFFF;
        
        &_header{
            display: flex;
            padding: 20px 25px;
            
            &__buttons{
                margin-left: auto;
                display: flex;
                // display: flex;
                // width: 60px;
                // height: 30px;
                // border-radius: 5px;
                // border: 1px solid $color15
                &__prev{
                    width: 30px;
                    height: 30px;
                    border-radius: 5px 0 0 5px;
                    border: 1px solid $color15;
                    &::after{
                        @include arrowLeft()
                    }
                }
                &__next{
                    width: 30px;
                    height: 30px;
                    border-radius: 0 5px 5px 0;
                    border: 1px solid $color15
                }
                
            }
        }
        .new_main{
            display: flex;
            border-top:1px solid rgba(28, 41, 77, 0.15);
            border-bottom:1px solid rgba(28, 41, 77, 0.15);
            .bookCard{
                width: 263px;
            }
        }
        .new_footer{
            padding: 11px;
            a{
                margin: 0 auto;
                text-decoration: none;
                color: $color100;
                font-weight: 700;
            }
        }
    }
}
.--small {
    width: 40px;
    .icon{
        margin: 0 auto;
    }
}