.promo
{   
    display: grid;
    grid-template-columns:750px 360px ;
    grid-template-rows: 350px 140px;
    row-gap: 30px;
    column-gap: 30px;
    &>*{
        break-inside: avoid;
    }
    
    &_bookOfDay
    {   
        width: 360px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-left: auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
            
        &__top
        {
            display: flex;
            margin-bottom: 18px;
            h4
            {
                margin: 0;
                font-size: 16px;
                font-weight: 500;
            }
            &__timer
            {
                margin-left: auto; 
                background:rgba(255, 122, 0, 0.15);
                padding: 5px 10px;
                font-size: 12px;
                border-radius: 5px;
                color: #FF7A00;
                
            }
        }
        
    }
    &_promotions
    {
        
        display: flex;
        &__item
        {
            @include gosha();
           
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            line-height: 25px;
            width: 360px;
            height: 140px;
            border-radius: 5px;
            padding: 0 25px;
            &:first-child 
            {
                color: #fff;
                background: #6D378F;
                .promo_promotions__item__line{
                    left: 13px;
                    top: 32px;
                }
            }
            &:last-child
            {
                color: $color80;
                background: #FFD8EF;
                margin-left: auto;
                .promo_promotions__item__line
                {
                    left: 45px;
                    bottom: 26px;
                }
            }
            &__text
            {
                margin-right: auto; 
                position: relative;
                z-index: 2;
            }
            &__line
            {
                position: absolute;
                z-index: 1;
                
            }
        }
    }
    
}

@media(max-width:1200px){
    .promo{
        grid-template-columns: 750px 250px;
        &_bookOfDay{
            width: 250px;
            margin-left: auto;
            padding: 10px;
            background: #fff;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        
        }
    }
}

@media(max-width:1024px){
    .promo{
       display: flex;
       flex-direction: column;
       align-items: center;
        &_bookOfDay{
            width: 360px;
            
            margin: 0;
        }
        &_promotions{
            min-width: 100%;
            justify-content: space-between;
            &__item{
                &:last-child{
                    margin-left: 0;
                    &__line{
                        bottom: 13px;
                    }
                }
                }
                
        }
    }
}
@media(max-width:768px){
    .promo{
        width: 100%;
        gap: 20px;
        display: grid;
        grid-template-columns: 360px 308px;
        grid-template-rows: 325px 450px;
        &_promotions{
            flex-direction: column;
            grid-row-start: 2;
            gap: 20px;
            &__item:last-child{margin-left: 0;}
        }
        &_bookOfDay{
            width: 290px;
            margin-left: 0;
            grid-row-start: 2;
        }
    }

}
@media(max-width:668px){
    .promo{
        gap: 15px;
        display: flex;
        flex-direction: column;
       
        &_bookOfDay{
            width: 100%;
            padding: 20px 20px 14px;
            margin-left: 0;
            .bookCard{
                &__image {
                    margin-bottom: 10px;
                    & img {
                        width: 133px;
                        height: 200px;
                    }
                }
                &_info{
                    margin-bottom: 2px;
                    &__section{margin-bottom: 5px;}
                    &__name{margin-bottom: 5px;}
                }
                &__buttons{
                    &__item{
                        &:first-child{
                            margin-right: 10px;
                            width: 285px;
                        }
                        
                        
                    }
                    .--small{
                        width: 40px;
                        height: 35px;   
                    }
                }
            }
          
        }
        
        &_promotions{
           flex-direction: column;
            &__item{
                padding: 0 20px;
                width: 100%;
                &:first-child{margin-bottom: 0;}
                &:last-child{margin-left: 0;}
            }
        }
    }
}
@media(max-width:425px){
    .promo{
        gap: 15px;
        display: flex;
        flex-direction: column;
       
        &_bookOfDay{
            width: 385px;
            padding: 20px 20px 14px;
            margin-left: 0;
            .bookCard{
                &__image {
                    margin-bottom: 10px;
                    & img {
                        width: 133px;
                        height: 200px;
                    }
                }
                &_info{
                    margin-bottom: 2px;
                    &__section{margin-bottom: 5px;}
                    &__name{margin-bottom: 5px;}
                }
                &__buttons{
                    &__item{
                        &:first-child{
                            margin-right: 10px;
                            width: 285px;
                        }
                        
                        
                    }
                    .--small{
                        width: 40px;
                        height: 35px;   
                    }
                }
            }
          
        }
        
        &_promotions{
           flex-direction: column;
            &__item{
                padding: 0 20px;
                width: 385px;
                &:first-child{margin-bottom: 10px;}
                &:last-child{margin-left: 0;}
            }
        }
    }
}
@media (max-width:375px) {
    .promo{
        gap: 10px;
        display: flex;
        flex-direction: column;
       
        &_bookOfDay{
            width: 355px;
            padding: 20px 20px 14px;
            .bookCard{
                &__image {
                    margin-bottom: 10px;
                    & img {
                        width: 133px;
                        height: 200px;
                    }
                }
                &_info{
                    margin-bottom: 2px;
                    &__section{margin-bottom: 5px;}
                    &__name{margin-bottom: 5px;}
                }
                &__buttons{
                    &__item{
                        &:first-child{
                            margin-right: 10px;
                            width: 265px;
                        }
                        
                    }
                    .--small{
                        width: 40px;
                        height: 40px;   
                    }
                }
            }
          
        }
        
        &_promotions{
           flex-direction: column;
           gap:0;
            &__item{
                padding: 0 20px;
                width: 355px;
                
                &:first-child{margin-bottom: 10px;}
            }
        }
    }
}