<section>
    <div class="subscribe">
        <div class="subscribe__text">Скидка 200 ₽ при подписке на рассылку Издательства</div>
        <div class="subscribe__form" action="post">
            <input type="email" placeholder="Введите ваш Email" class=" frm subscribe__form__email">
            <input type="submit" class="btn subscribe__form__submit" value="Подписаться">
        </div>
        
        <div class="subscribe__line">
            <svg width="68" height="28" viewBox="0 0 68 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 20.5C28 0.5 41 27 60.5 8" stroke="#FF7A00" stroke-width="20"/>
            </svg>
        </div>
    </div>
</section>