.footer
{   
    background: #fff;
    &_top__inner__mobile{display: none;}
    &_main__mobile{display: none;}
    &_top
    {   
        &__socials__mobile{display: none;}
        &__wrapper{
            width: 100%;
            justify-content: center;
            background: rgba(40, 47, 54, 0.04);
            display: flex;
            padding: 22px 0;

        }
        &__inner{
            height: 100%;
            display: flex;
            align-items: center;
            
            
        }
        &__logo{
            margin-right: 298px;
        }

        &__form{
            display: flex;
            position: relative;
            margin-right: 199px;
            margin-bottom: 5px;
            &__email{
                width: 443px;
            }
            &__submit{
                & svg{
                    margin: 0 auto;
                }
                border-radius: 0 5px 5px 0;
                position: absolute;
                width: 50px;
                height: 40px;
                right: 0;
            }
        }
        &__form__mobile{display: none;}
        &__socials{
            display: flex;
            
            &__item{
                margin-left: 15px;
                &:first-child{ margin: 0;}
            }
        }
        
    }
    &_main__mobile__list-bottom{display: none;}
    &_main{
        display: flex;
        padding: 45px 0 27px;
        border-bottom: 1px solid $color15;
        .col{
            margin-right: 30px; 
            &__header
            {
                min-width: 165px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 25px;
            }

            &__item
            {
                display: flex;
                color: $color80;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 15px;
                &__size{
                    font-size: 12px;
                    color: $color50;

                }
            }
        }
    }
    &_bottom{
        display: flex;
        padding: 40px 0 45px;
        justify-content: space-between;
        &__publisher{
            // margin-right: 208px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $color50;
        }
        &__section{
            display: flex;
            
        }
        &__address{
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $color80;
                margin-right: 67px;
        }
        &__private_politics{
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $color80;
            margin-right: 30px;
        }
        &__offer{
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $color80;
        }
    }
}
// @media(max-width:1200px){
//     .footer{
        
//         &_top{
//             &__inner{justify-content: space-between;}
//             &__logo{margin: 0;}
//             &__form{margin: 0;}
//         }
//     }
// }
// @media(max-width:1024px){
//     .footer{
//         flex-wrap: wrap;
//         &_bottom{display: none;}
//         &_main{
//             flex-wrap: wrap;
//             justify-content: space-between;
           
//         }
       
//         .col{
            
//             margin: 0px;
//         }
//     }
// }
// @media(max-width:768px){
//     .footer{

//         &_top__inner, &_main{display: none;}
//         &_top__inner__mobile{
//             display: block;
//         }
//         &_main__mobile{
//             display: block;
//         }
//     }

// }
@media(max-width:425px){
    .footer{
        margin-top: 20px;
        &_top__wrapper
         {
            display: block; 
            padding-bottom: 0;
        }
        &_top__mobile__wrapper{
            border-bottom: 1px solid $color15;
        }
        
        &_top__inner, &_main, &_bottom{display: none;}
        
        &_top__inner__mobile{
            display: block;
            color: rgba(28, 41, 77, 0.05);
        }
        &_top__socials__mobile
        {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $color15;
            padding-bottom: 11px;
            &__item{
                margin-right: 15px;
                &:last-child{margin: 0;}
            }
        }
        &_top{
            display: flex;
            
            padding: 20px 10px 13px;
            &__logo{margin-right: 15px;}
            &__form{display: none;}
            &__form__mobile{
                display: flex;
                position: relative;
                &__email{
                    width: 270px;
                }
                &__submit{
                    position: absolute;
                    right: 0;
                    width: 50px;
                    height: 40px;
                }
            }
        }
        
        &_main__mobile{
            display: block;
            &__list{
                padding: 0 10px;
                &-bottom{
                    display: block;
                    .footer_main__mobile__list__item{
                        padding: 19px;
                        font-size: 14px;
                        &:first-child{
                            border-top: 1px solid $color50;
                            display: flex;
                            flex-direction: column;
                        }
                        .icon{display: inline-block;}
                        &__text{
                            color: $color50;
                            display: inline-block;
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 10px;
                            &:last-child{margin-bottom: 0;}
                        }
                    }
                }
                .dropdown{
                    width: 100%;
                    &::after{
                        right: 4px;
                        top: 22px;
                    }
                }
                &__item{
                    
                    padding: 20px 0 16px;
                    border-bottom: 1px solid rgba(42, 61, 72, 0.15);
                    &:last-child{border-bottom: none}
                    & a{
                        color: #2A3D48;
                        font-size: 16px;
                        line-height: 20px;
                    }

                }
            }
            

        }
    }
}
@media(max-width:375px){
.footer{
        margin-top: 20px;
        &_top__wrapper
         {
            display: block; 
            padding-bottom: 0;
        }
        &_top__mobile__wrapper{
            border-bottom: 1px solid $color15;
        }
        
        &_top__inner, &_main, &_bottom{display: none;}
        
        &_top__inner__mobile{
            display: block;
            color: rgba(28, 41, 77, 0.05);
        }
        &_top__socials__mobile
        {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $color15;
            padding-bottom: 11px;
            &__item{
                margin-right: 15px;
                &:last-child{margin: 0;}
            }
        }
        &_top{
            display: flex;
            
            padding: 20px 10px 13px;
            &__logo{margin-right: 15px;}
            &__form{display: none;}
            &__form__mobile{
                display: flex;
                position: relative;
                &__email{
                    width: 270px;
                }
                &__submit{
                    position: absolute;
                    right: 0;
                    width: 50px;
                    height: 40px;
                }
            }
        }
        
        &_main__mobile{
            display: block;
            &__list{
                padding: 0 10px;
                &-bottom{
                    display: block;
                    .footer_main__mobile__list__item{
                        padding: 19px;
                        font-size: 14px;
                        &:first-child{
                            border-top: 1px solid $color50;
                            display: flex;
                            flex-direction: column;
                        }
                        .icon{display: inline-block;}
                        &__text{
                            color: $color50;
                            display: inline-block;
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 10px;
                            &:last-child{margin-bottom: 0;}
                        }
                    }
                }
                .dropdown{
                    width: 100%;
                    &::after{
                        right: 4px;
                        top: 22px;
                    }
                }
                &__item{
                    
                    padding: 20px 0 16px;
                    border-bottom: 1px solid rgba(42, 61, 72, 0.15);
                    &:last-child{border-bottom: none}
                    & a{
                        color: #2A3D48;
                        font-size: 16px;
                        line-height: 20px;
                    }

                }
            }
            &__wrapper{
                
            }

        }
    }
}