<div class="bar_main__item">
    <div class="bookCard">
        <div class="bookCard">
            <div class="bookCard__image">
                {% block card_img %}{% endblock %}
            </div>
            

            {% if block("label_best") is defined %}
                 <div class="bookCard__label --best">
                    Бестселлер
                 </div>
            {% endif %}
           

            {% if block("label_promo") is defined %}
                 <div class="bookCard__label --promo">
                    1+1=3
                 </div>
            {% endif %}

            {% if block("label_new") is defined %}
                 <div class="bookCard__label --new">
                    Новинка
                 </div>
            {% endif %}          
            
            <div class="bookCard_info">
                <p class="bookCard_info__section">
                    {% block card_section %}{% endblock %}
                </p>
                <div class="bookCard_info__name">
                    <span>{% block card_name %}{% endblock %}</span>
                </div>
                <p class="bookCard_info__author">
                    {% block card_author %}{% endblock %}
                </p>
                <p class="bookCard_info__price">
                    {% block card_price %}{% endblock %}
                </p>
            </div>


            {% if block("rate")is defined %}
                <div class="bookCard__rate">
                    <div class="bookCard__rate__item rating --gold">
                        <div class="icon">
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 9.79375L10.3625 12.125L9.3375 7.73125L12.75 4.775L8.25625 4.39375L6.5 0.25L4.74375 4.39375L0.25 4.775L3.6625 7.73125L2.6375 12.125L6.5 9.79375Z" fill="#FBC02D"/>
                            </svg>
                                
                        </div>
                        <span>4.9</span>
                    </div>
                    <div class="bookCard__rate__item recommendations">
                        <div class="icon">
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.1604 0.875C6.25917 0.875 5.55507 1.597 5.50958 2.4583C5.48986 2.83186 5.45758 3.2307 5.4067 3.54251C5.38804 3.65684 5.32635 3.82741 5.21418 4.04391C5.10592 4.25286 4.96836 4.47111 4.82844 4.67378C4.6894 4.87518 4.5535 5.05331 4.45215 5.18125C4.43557 5.20219 4.41996 5.22172 4.40547 5.23972L3.51043 5.49997C3.30084 5.34301 3.0403 5.25 2.75796 5.25H1.50398C0.811427 5.25 0.25 5.80964 0.25 6.5V10.875C0.25 11.5654 0.811427 12.125 1.50398 12.125H2.75796C3.14075 12.125 3.48348 11.954 3.71349 11.6845L3.71377 11.6847C4.31172 11.9744 4.96789 12.125 5.63275 12.125H10.3966C11.3302 12.125 12.1225 11.4424 12.2577 10.5216L12.7298 7.30731C12.896 6.17572 12.0159 5.16071 10.8687 5.16071H9.44989V3.15722C9.44989 1.89678 8.42485 0.875 7.1604 0.875ZM4.01195 10.4393L4.26205 10.5605C4.68915 10.7674 5.15785 10.875 5.63275 10.875H10.3966C10.7078 10.875 10.9719 10.6475 11.017 10.3405L11.489 7.12625C11.5444 6.74905 11.2511 6.41071 10.8687 6.41071H8.8229C8.47662 6.41071 8.19591 6.13089 8.19591 5.78571V3.15722C8.19591 2.58714 7.7323 2.125 7.1604 2.125C6.96179 2.125 6.77416 2.29049 6.76183 2.52401C6.74136 2.9116 6.70631 3.36389 6.64441 3.7432C6.59479 4.0473 6.46499 4.35379 6.32833 4.61753C6.18777 4.88882 6.01916 5.15398 5.86144 5.38242C5.70286 5.61213 5.54965 5.81281 5.43632 5.95589C5.37946 6.02767 5.33215 6.08556 5.2986 6.12604C5.28181 6.1463 5.26843 6.16223 5.25899 6.17341L5.24783 6.18657L5.24457 6.19039L5.24355 6.19158L5.24319 6.192L5.24305 6.19217C5.24299 6.19224 5.24293 6.1923 4.76675 5.78571L5.24293 6.1923C5.1637 6.28451 5.05924 6.35171 4.94232 6.38571L4.01195 6.65624V10.4393ZM2.75796 6.5H1.50398V7.75V9.625V10.875H2.75796V10.8304V9.625V7.75V6.5Z" fill="#7986CB"/>
                            </svg>
                        </div>
                        <span>89% рекомендуют</span>
                    </div>
                </div>
            {% endif %}
            
            <div class="bookCard__buttons">
                <button class="btn bookCard__buttons__item">
                <div class="icon">
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.49996 0.5C1.03972 0.5 0.666626 0.873096 0.666626 1.33333C0.666626 1.79357 1.03972 2.16667 1.49996 2.16667V1.33333L1.49997 2.16667H1.5H1.50014H1.50024H1.50036H1.5005H1.50067H1.50155H1.50277H1.50351H1.50391H1.50434H1.50624H1.50848H1.50909H1.50972H1.51105H1.54309H1.66272H2.07288H2.50144L4.43735 10.6847C4.53716 11.1239 4.96689 11.4025 5.40583 11.3186C5.45656 11.3283 5.50892 11.3333 5.56246 11.3333H14C14.3473 11.3333 14.6583 11.1179 14.7802 10.7926L17.2802 4.12594C17.3762 3.87002 17.3406 3.58332 17.1849 3.35867C17.0292 3.13403 16.7733 3 16.5 3H4.4L3.97924 1.14865C3.89301 0.769242 3.55571 0.5 3.16663 0.5H2.07288H1.66272H1.54309H1.538H1.53322H1.53207H1.53094H1.52874H1.52456H1.51717H1.51633H1.51551H1.51472H1.51394H1.51319H1.51246H1.51105H1.50624H1.50434H1.50391H1.50351H1.50277H1.50067H1.50036H1.50024H1.50014H1.5H1.49997L1.49996 1.33333V0.5ZM4.77879 4.66667L5.91515 9.66667H13.4225L15.2975 4.66667H4.77879ZM7.33329 12.1667C6.41282 12.1667 5.66663 12.9129 5.66663 13.8333C5.66663 14.7538 6.41282 15.5 7.33329 15.5C8.25377 15.5 8.99996 14.7538 8.99996 13.8333C8.99996 12.9129 8.25377 12.1667 7.33329 12.1667ZM10.6666 13.8333C10.6666 12.9129 11.4128 12.1667 12.3333 12.1667C13.2538 12.1667 14 12.9129 14 13.8333C14 14.7538 13.2538 15.5 12.3333 15.5C11.4128 15.5 10.6666 14.7538 10.6666 13.8333Z" fill="#FF7A00"/>
                    </svg>
                </div>  

                <span>В корзину</span>
                </button>
                <button class="btn bookCard__buttons__item --small">
                    <div class="icon">
                        <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66667 3.1818C1.66667 2.71884 2.03976 2.34353 2.5 2.34353H7.5C7.96024 2.34353 8.33333 2.71884 8.33333 3.1818V15.2339C8.33333 15.5967 7.90607 15.7882 7.63793 15.5454L5.55747 13.6619C5.24055 13.375 4.75945 13.375 4.44253 13.6619L2.36207 15.5454C2.09393 15.7882 1.66667 15.5967 1.66667 15.2339V3.1818ZM2.5 0.666992H7.5C8.88071 0.666992 10 1.79291 10 3.1818V15.2339C10 17.0482 7.86366 18.0053 6.52299 16.7916L5 15.4128L3.47701 16.7916C2.13633 18.0053 0 17.0482 0 15.2339V3.1818C0 1.79291 1.11929 0.666992 2.5 0.666992Z" fill="#1C294D" fill-opacity="0.5"/>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>    