<section>
	<div class="features">
		<div class="features_item">
			<div class="features_item__img">
				<img src="img/image 151.png" alt="">
			</div>
			<div class="features_item__content">
				<div class="features_item__content__caption">
					Быстрая доставка
				</div>
				<div class="features_item__content__text">
					<span class="features_item__content__text__full">
						Доставим бесплатно
						<br>
						от 2000 ₽ по всей России
					</span>
					<span class="features_item__content__text__mobile">
						Доставим бесплатно от 2000 ₽
						<br>
						по всей России
					</span>
				</div>
			</div>
		</div>
		<div class="features_item">
			<div class="features_item__img">
				<img src="img/image 150.png" alt="">
			</div>
			<div class="features_item__content">
				<div class="features_item__content__caption">
					Безопасная оплата
				</div>
				<div class="features_item__content__text">

					<span class="features_item__content__text__full">
						Плати безопасно и легко
						<br>
						онлайн на нашем сайте.
					</span>
					<span class="features_item__content__text__mobile">
						Плати безопасно и легко
						<br>
						онлайн на нашем сайте.
					</span>


				</div>
			</div>
		</div>
		<div class="features_item">
			<div class="features_item__img">
				<img src="img/image 149.png" alt="">
			</div>
			<div class="features_item__content">
				<div class="features_item__content__caption">
					Бонусная программа
				</div>
				<div class="features_item__content__text">
					<span class="features_item__content__text__full">
						Дополнительная скидка
						<br>
						15% при регистрации
					</span>
					<span class="features_item__content__text__mobile">
						Дополнительная скидка 15%
						<br>
						при регистрации
					</span>
				</div>
			</div>
		</div>
		<div class="features_item">
			<div class="features_item__img">
				<img src="img/image 152.png" alt="">
			</div>
			<div class="features_item__content">
				<div class="features_item__content__caption">
					Большой выбор
				</div>
				<div class="features_item__content__text">
					<span class="features_item__content__text__full">
						Ежегодно выходит в свет
						<br>
						более 100 книг
					</span>
					<span class="features_item__content__text__mobile">
						Ежегодно выходит в свет более
						<br>
						100 наименований книг
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
