.features{
    
    display: flex;
    &_item{
      display: flex;
      width: 263px;
      height: 150px;
      align-items: center;
      
      background: #fff;
      border-radius: 5px;
      margin-right: 30px;
      position: relative;
      padding:   0;
      &:last-child{margin: 0;}
      &__img{
          position: absolute;
          left: 0;
          
      }
      &__content{
          margin-left: 90px;
          &__caption{
              font-size: 16px;
              font-weight: 700;
              line-height: 25px;
          }
          &__text{
              font-size: 12px;
              font-weight: 400;
              line-height: 19px;
              &__mobile{
                  display: none;
                  font-size: 14px;
                }
          }
      }
    }
}

@media(max-width:1024px){
    .features{
       flex-flow:  wrap;
       gap: 10px;
       justify-content: space-around;
        &_item{
            margin-right: 0;
            
        }
    }
}
@media(max-width:668px){
    .features{
        gap: 10px;
        flex-direction: column;
        &_item{
            height: 170px;
            width: 425px;
            
            
            &__img{
               
                & img{
                    width: 147px;
                    height: 90px;
                }
            }
            &__content{
                margin-left: 125px;
                &__text{
                    &__full{display: none;}
                    &__mobile{display: inline-block;}
                }
            }
        }
    }
}
@media(max-width:425px){
    .features{
        gap: 15px;
        flex-direction: column;
        &_item{
            height: 170px;
            width: 385px;
            &:nth-child(2){order:4;}
            
            &__img{
               
                & img{
                    width: 147px;
                    height: 90px;
                }
            }
            &__content{
                margin-left: 125px;
                &__text{
                    &__full{display: none;}
                    &__mobile{display: inline-block;}
                }
            }
        }
    }
}
@media(max-width:375px){
    .features{
        gap: 10px;
        flex-direction: column;
        &_item{
            height: 170px;
            width: 355px;
            
            &:nth-child(2){order:4;}
            
            &__img{
               
                & img{
                    width: 147px;
                    height: 90px;
                }
            }
            &__content{
                margin-left: 125px;
                &__text{
                    &__full{display: none;}
                    &__mobile{display: inline-block;}
                }
            }
        }
    }
}