.bar{
    background: #FFFF;
    border-radius: 5px;
    &_header{
        display: flex;
        padding: 17px 25px 10px;
        
        &__buttons{
            margin-left: auto;
            display: flex;
            
            &__prev{
                width: 30px;
                height: 30px;
                position: relative;
                
                border-radius: 5px 0 0 5px;
                border: 1px solid $color15;
                cursor: pointer;
                
                &::after{
                   @include arrow(2px,left )
                   
                }
                &:hover{
                    &::after{
                        border-color: $color100
                    }
                    
                }
            }
            &__next{
                width: 30px;
                height: 30px;
                position: relative;
                cursor: pointer;
                border-radius: 0 5px 5px 0;
                border: 1px solid $color15;
                
                &:hover{
                    &::after{
                        border-color: $color100
                    }
                    
                }

                &::after{
                    @include arrow(2px,right )
                }
            }
            
        }
       
    }
    &_main{
        display: flex;
        
        border-top:1px solid rgba(28, 41, 77, 0.15);
        border-bottom:1px solid rgba(28, 41, 77, 0.15);
        &__item{
            
            padding-top: 24px;
            padding-right: 34px;
            padding-left: 34px;
            padding-bottom: 18px;
            border-right: 1px solid rgba(28, 41, 77, 0.15);
            &:first-child{
                padding-left: 20px;
            }
            
            &:last-child{
                border: none;
                padding-top: 24px;
                padding-right: 20px;
                padding-left: 34px;
            }
            .bookCard{
                &__rate{
                    margin-bottom: 10px;
                }
            }
        }
        
        
    }
    &_footer{
        padding: 7px 0;
        text-align: center;
        font-family: Roboto;

        a{
            text-decoration: none;
            color: $color100;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            &:last-child{display: none;}
        }
    }
}
#news{
    .bar_footer{
        display: none;
    }
}

@media(max-width:1200px){
    .bar{
        &_main__item{
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 18px;
            border-right: 1px solid rgba(28, 41, 77, 0.15);
            &:first-child{
                padding-left: 10px;
            }
            
            &:last-child{
                border: none;
                padding-top: 24px;
                padding-right: 10px;
                padding-left: 15px;
            }
        }
       
    }
    #news{
        .bar_main__item{
            flex-grow: 1;
            padding: 25px 15px;
            &:last-child{
                display: none;
            }
            
        }
        .bar_footer{
            display: block;
        }
    }
}
@media(max-width:1024px){
    .bar{
        &_main{
            justify-content: space-between;
        }
        &_main__item{
            width: 50%;
           
            &:nth-child(3){display: none;}
        }
    }
    #news{
        .bar_main__item{
            width: 50%;
        }
    }
}
@media(max-width:768px){
    .bar{
        &_main__item{
            padding: 25px;
            &:nth-child(2){display: none;}
        }
    }
    #news{
        .bar_main__item{
            width: 100%;
        }
    }

}
@media(max-width:425px){
    .bar{
        width: 385px;
        &_header{
            padding: 18px 10px 8px;
        }
        &_main__item{
            width: 50%;
            padding: 20px 10px 14px;
            &:nth-child(2), &:nth-child(3){display: none;}
            &:first-child{padding-left: 10px;}
            &:last-child{
                padding-top: 25px;
                padding-left: 15px;
                padding-right: 15px;

                .bookCard{
                    .recommendations{
                        visibility: hidden;
                    }
                }
            }
        }
        &_footer{
            padding: 10px 0;
            a{
                margin: 0 auto;
                &:first-child{display: none;}
                &:last-child{display: block;}
            }
        }
    }
    #news{
        .bar_main__item{
            width: 100%;
            padding: 19px 20px 12px;
        }
        .bar_footer{
            display: block;
            a:first-child{display: block;}
        }
    }
}
@media(max-width:375px){
    .bar{
        width: 355px;
        &_header{
            padding: 18px 10px 8px;
        }
        &_main__item{
            padding: 20px 10px 14px;
            &:nth-child(2), &:nth-child(3){display: none;}
            &:first-child{padding-left: 10px;}
            &:last-child{
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;

                .bookCard{
                    .recommendations{
                        visibility: hidden;
                    }
                }
            }
        }
        &_footer{
            padding: 10px 0;
            a{
                margin: 0 auto;
                &:first-child{display: none;}
                &:last-child{display: block;}
            }
        }
    }
    #news{
        .bar_main__item{
            padding: 19px 10px 12px;
        }
        .bar_footer{
            display: block;
            a:first-child{display: block;}
        }
    }
}
