{% extends "../../layouts/bar.twig" %}

{% block id %}news{% endblock %}
{% block header %}Новости{% endblock header%}

{% block content %}
    <div class="bar_main__item">
        <div class="newsCard">
            <div class="newsCard__img">
                <img src="img/image 214.jpg" alt="">
            </div>
            <div class="newsCard__info">
                <div class="newsCard__info__date">
                    16 июня 2020
                </div>
                <div class="newsCard__info__caption">
                    Бесплатный онлайн-семинар. Доктрина <br>
                    stare decisis: борьба за прецедент в рос...
                </div>
                <div class="newsCard__info__text">
                    18 июня в «Клубе цивилистов» пройдет <br>
                    бесплатный онлайн-семинар по проблематике <br>
                    судебного прецедента. Мероприятие приуроч...
                </div>
            </div>
            <button class="newsCard__button btn">Читать</button>

        </div>
    </div>
    <div class="bar_main__item">
            <div class="newsCard">
            <div class="newsCard__img">
                <img src="img/Rectangle 932.jpg" alt="">
            </div>
            <div class="newsCard__info">
                <div class="newsCard__info__date">
                    16 июня 2020
                </div>
                <div class="newsCard__info__caption">
                Бесплатный онлайн-семинар. Доктрина <br>
                stare decisis: борьба за прецедент в рос...
                </div>
                <div class="newsCard__info__text">
                    18 июня в «Клубе цивилистов» пройдет <br>
                    бесплатный онлайн-семинар по проблематике <br>
                    судебного прецедента. Мероприятие приуроч...
                
                </div>
            </div>
            <button class="newsCard__button btn">Читать</button>
        </div>
    </div>
    <div class="bar_main__item">
            <div class="newsCard">
            <div class="newsCard__img">
                <img src="img/Rectangle 933.jpg" alt="">
            </div>
            <div class="newsCard__info">
                <div class="newsCard__info__date">
                    16 июня 2020
                </div>
                <div class="newsCard__info__caption">
                    Бесплатный онлайн-семинар. Доктрина <br>
                    stare decisis: борьба за прецедент в рос...
                </div>
                <div class="newsCard__info__text">
                    18 июня в «Клубе цивилистов» пройдет <br>
                    бесплатный онлайн-семинар по проблематике <br>
                    судебного прецедента. Мероприятие приуроч...

                </div>
            </div>
            <button class="newsCard__button btn">Читать</button>
        </div>
    </div>


{% endblock %}
{% block footer %}
    Показать все новости
{% endblock %}